.header
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav{
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__list {
    display: flex;
    column-gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}
.nav__icon,
.nav__close,
.nav__toggle{
    display: none;
}

.nav__overlay {
    display: none;
}
.active-link,
.nav__link:hover {
    color: var(--title-color-dark);
}

@media screen and (max-width: 768px) {
    .header{
        top: 0;
        bottom: initial;
    }
    .nav{
        height: var(--header-height);
    }
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 4rem 1.5rem 2rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: .3s;
        z-index: var(--z-fixed);
    }
    .show-menu{
        top: 0;
    }
    .nav__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem 0.5rem;
    }
    .nav__item{
        text-align: center;
    }
    .nav__link{
        flex-direction: column;
        font-size: 0.7rem;
        row-gap: 0.25rem;
    }
    .nav__icon{
        font-size: 1.2rem;
        display: block;
    }
    .nav__close{
        display: none;
    }
    .nav__toggle{
        font-size: 1.3rem;
        cursor: pointer;
    }
    .nav__toggle,
    .nav__icon{
        display: block;
    }
    .nav__overlay {
        display: block;
        position: fixed;
        inset: 0;
        z-index: calc(var(--z-fixed) - 1);
    }
}
@media screen and (max-width: 350px) {
    .nav__menu{
        padding: 1.5rem 0.5rem 3rem;
    }
    .nav__list{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem 0.25rem;
    }
}